body{
	background-color: #F0FFFF;
	color:green;
}

.button1{
	background-color:#FF7F50;
}

#sortnametable{
	background-color:#FF7F50;
}

.button2{
	background-color:#7FFFD4; 
}

#sortemailtable{
   background-color:#7FFFD4;
}

.button3{
	background-color:#00FFFF;
}

#sortdobtable{
	background-color:#00FFFF;
}

.nutton3{
	background-color:#6495ED;
}

#sortagetable{
	background-color:#6495ED;
}